.header__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 513px;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .header__subtitle {
    max-width: 243px;
    font-size: 14px;
    line-height: 18px;
  }
}
