.popup__input_type_img-link {
  margin: 0;
  outline-color: #545454;
}

.popup__input_type_img-link:invalid {
  border-bottom-color: #ff0000;
}

.popup__input_type_img-link:valid {
  border-bottom-color: #545454;
}
