.popup__input_type_job {
  margin: 0;
  outline-color: #545454;
}

.popup__input_type_job:invalid {
  border-bottom-color: #ff0000;
}

.popup__input_type_job:valid {
  border-bottom-color: #545454;
}
