.popup__heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 40px;
  margin: 0;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 40px;
  }
}
