.popup__input {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  width: 100%;
  border-bottom: 1px solid #545454;
  outline-color: #545454;
}

.popup__input::placeholder {
  color: #545454;
}
