.header__briefing {
  max-width: 415px;
  max-height: 77px;
  margin: 0;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 18px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: relative;
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__briefing {
    margin: 0;
    padding: 0 0 36px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__briefing {
    padding-bottom: 22px;
  }
}
