.header__briefing {
  max-width: 415px;
  max-height: 77px;
  margin-left: 30px;
  padding: 0;
  display: grid;
  grid-gap: 18px 16px;
  padding: 0;
  align-items: last baseline;
  justify-content: flex-start;
  grid-template-columns: auto;
  grid-template-areas:
    "header__title button"
    "header__subtitle .";
}
