.input__text_button {
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: auto;
  padding: auto;
  transition: 0.4s ease-in-out;
  text-decoration: none;
  width: 394px;
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .input__text_button {
    font-size: 14px;
    line-height: 18px;
  }
}
