.button-edit {
  width: 24px;
  height: 24px;
  border-radius: 2px #fff;
  position: absolute;
  top: 16px;
  right: -40px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
  display: block;
}

.button-edit:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .button-edit {
    top: 4px;
    right: -24px;
    width: 18px;
    height: 18px;
  }
}
