.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 513px;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .header__title {
    max-width: 243px;
    font-size: 22px;
    line-height: 26px;
  }
}
