.button-edit {
  width: 24px;
  height: 24px;
  border-radius: 2px #fff;
  position: absolute;
  top: 16px;
  right: -32px;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.button-edit:hover {
  transition: 0.4s ease-in-out;
  opacity: 0.6;
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .button-edit {
    top: 10px;
  }
}

@media (max-width: 444px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .button-edit {
    top: 8px;
    right: -24px;
    width: 18px;
    height: 18px;
  }
}
