.header__avatar {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__avatar {
    padding-bottom: 30px;
  }
}
