.header__subtitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 18px;
  }
}
