.popup__close-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: 0.4s ease-in-out;
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .popup__close-btn {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }
}
