.popup-card-img__image {
  max-width: 816px;
  width: 100%;
  height: 100%;
  -o-object-fit: inherit;
  object-fit: inherit;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
