.popup__submit-btn {
  width: 358px;
  height: 50px;
  width: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #fff;
  font-family: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-bottom: 1px solid #545454;
  transition: 0.4s ease-in-out;
}

.popup__submit-btn:hover {
  transition: 0.4s ease-in-out;
  opacity: 0.8;
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }

  .popup__submit-btn {
    font-size: 14px;
    line-height: 18px;
  }
}
