.footer__copyrights {
  max-width: 318px;
  max-height: 18px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: left;
  -ms-grid-row-align: left;
  align-self: left;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (max-width: 900px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .footer__copyrights {
    margin: 0 0 0 19px;
  }
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .footer__copyrights {
    margin: 0;
  }
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .footer__copyrights {
    margin-left: 19px;
  }
}
