.popup__button_disabled_card-add {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
  color: rgba(0, 0, 0, 0.2);
  border-bottom: none rgba(0, 0, 0, 0.2);
}

.popup__button_disabled:hover {
  opacity: 1;
}
