.header__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 373px;
  max-height: 39px;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__title {
    font-size: 22px;
    line-height: 26px;
  }
}
