.header__profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 46px;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

@media (max-width: 900px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .header__profile {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 26px;
    padding: 36px 19px 36px;
  }
}

@media (max-width: 580px) {
  * {
    transition: 0.3s ease-in-out;
  }
  .header__profile {
    align-items: center;
    justify-content: center;
  }
}
