.header__item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__item {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__item {
    align-items: center;
    justify-content: center;
  }
}
