.header__item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__item {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  * {
    transition: 0.4s ease-in-out;
  }
  .header__item {
    align-items: center;
    justify-content: center;
  }
}
