.popup__text {
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline-color: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
